
h1{
	color: black;
	margin:0;
	padding:0 0 20px;
	text-align:center;
	
}
.loginbox{
	width:320px;
	height:420px;
	background: #D3D3D3;
	color:#fff;
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing:border-box;
	padding: 70px 30px;
}
.loginbox input[type="text"], input[type="password"]{
	border:none;
	border-bottom:1px solid #fff;
	background:transparent;
	outline:none;
	height:40px;
}
.loginbox input[type="submit"]{
	border:none;
	outline:nonr;
	height:#fff;
	background:#fb2525;
	color:#fff;
	font-size:18px;
	position:center;
}